.center {
    margin: auto;
    max-width: 333px;
    width: 100%
}

.min-v300 {
    min-width: 333px;
}

div.table-title {
    text-align: center;
    display: table;
    align-content: center;
    margin: auto;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.logo-colored {
    color: #FF2B42; /* Or any other color you prefer */
}

.gray-small-text {
    color: #888888;
    font-size: 0.875rem;
}

.xx-small {
    font-size: 0.75rem!important;
}

.center-text {
    text-align: center;
    display: table;
    align-content: center;
    margin: auto;
}

.w-100 {
    width: 100%;
}

.link {
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 333px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.styled-table thead tr,
.styled-table thead th {
    background-color: #FF2B42;
    color: #ffffff;
    font-weight: bold !important;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
    font-weight: normal;
}

.styled-table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.icon-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}
